{
  "swagger": "2.0",
  "info": {
    "title": "Disease Dictionary",
    "description": "Auto-generated Swagger UI for Disease Dictionary",
    "version": "1.0.0"
  },
  "host": "diseasedictionary.skyraantech.com/server",
  "basePath": "/",
  "tags": [
    {
      "name": "API",
      "description": "Endpoints for Flutter app"
    },
    {
      "name": "Categories",
      "description": "Endpoints for Categories"
    },
    {
      "name": "Image Gallery",
      "description": "Endpoint for Image Gallery"
    },
    {
      "name": "Video Gallery",
      "description": "Endpoint for Video Gallery"
    },
    {
      "name": "Diseases",
      "description": "Endpoints for diseases"
    },
    {
      "name": "Trivia",
      "description": "Endpoints for Trivia"
    },
    {
      "name": "Reports",
      "description": "Endpoint for Reports"
    }
  ],
  "schemes": [
    "https"
  ],
  "paths": {
    "/categories/": {
      "get": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "name",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "image_file",
            "in": "formData",
            "type": "file",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      }
    },
    "/categories/{id}": {
      "get": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "put": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "name",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "image",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "image_file",
            "in": "formData",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      },
      "delete": {
        "tags": [
          "Categories"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/diseases/": {
      "get": {
        "tags": [
          "Diseases"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Diseases"
        ],
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "cat_id",
            "in": "formData",
            "required": true,
            "type": "number"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "info",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_file",
            "in": "formData",
            "required": true,
            "type": "file"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      }
    },
    "/diseases/{id}": {
      "put": {
        "tags": [
          "Diseases"
        ],
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "id",
            "in": "formData",
            "required": true,
            "type": "number"
          },
          {
            "name": "cat_id",
            "in": "formData",
            "required": true,
            "type": "number"
          },
          {
            "name": "name",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "info",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "image",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "image_file",
            "in": "formData",
            "type": "file"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      },
      "delete": {
        "tags": [
          "Diseases"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/image-gallery/{disease_id}/{id}": {
      "get": {
        "tags": [
          "Image Gallery"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/image-gallery/{disease_id}": {
      "get": {
        "tags": [
          "Image Gallery"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Image Gallery"
        ],
        "description": "Delete one or more images by IDs from the gallery.",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "number"
            },
            "collectionFormat": "multi",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {}
      },
      "post": {
        "tags": [
          "Image Gallery"
        ],
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "names",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "required": true
          },
          {
            "name": "images",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "file"
            },
            "collectionFormat": "multi",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      }
    },
    "/image-gallery/update/{disease_id}": {
      "post": {
        "tags": [
          "Image Gallery"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "formData",
            "type": "number",
            "required": true
          },
          {
            "name": "name",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "image",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "image_file",
            "in": "formData",
            "type": "file"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {}
      }
    },
    "/video-gallery/{disease_id}/{id}": {
      "get": {
        "tags": [
          "Video Gallery"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/video-gallery/{disease_id}": {
      "get": {
        "tags": [
          "Video Gallery"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      },
      "put": {
        "tags": [
          "Video Gallery"
        ],
        "description": "Delete one or more images by IDs from the gallery.",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "ids",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "number"
            },
            "collectionFormat": "multi",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        },
        "requestBody": {}
      },
      "post": {
        "tags": [
          "Video Gallery"
        ],
        "description": "",
        "consumes": [
          "multipart/form-data"
        ],
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "names",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "required": true
          },
          {
            "name": "videos",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "file"
            },
            "collectionFormat": "multi",
            "required": true
          },
          {
            "name": "thumbnails",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "file"
            },
            "collectionFormat": "multi",
            "required": true
          },
          {
            "name": "descriptions",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi"
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      }
    },
    "/video-gallery/update/{disease_id}": {
      "post": {
        "tags": [
          "Video Gallery"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "in": "formData",
            "type": "number",
            "required": true
          },
          {
            "name": "name",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "video",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "thumbnail",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "video_file",
            "in": "formData",
            "type": "file"
          },
          {
            "name": "image_file",
            "in": "formData",
            "type": "file"
          },
          {
            "name": "description",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "default": {
            "description": ""
          }
        }
      }
    },
    "/reports/reasons": {
      "get": {
        "tags": [
          "Reports"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/reports/types": {
      "get": {
        "tags": [
          "Reports"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/reports/": {
      "get": {
        "tags": [
          "Reports"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/reports/{id}": {
      "delete": {
        "tags": [
          "Reports"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/trivia/": {
      "get": {
        "tags": [
          "Trivia"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "post": {
        "tags": [
          "Trivia"
        ],
        "description": "",
        "parameters": [
          {
            "name": "content",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "string"
            },
            "collectionFormat": "multi",
            "required": true
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "422": {
            "description": "Unprocessable Entity"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      }
    },
    "/trivia/{id}": {
      "get": {
        "tags": [
          "Trivia"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          }
        }
      },
      "put": {
        "tags": [
          "Trivia"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "content",
            "in": "formData",
            "type": "string",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        },
        "requestBody": {}
      },
      "delete": {
        "tags": [
          "Trivia"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/": {
      "get": {
        "tags": [
          "Users"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/register": {
      "post": {
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "name": {
                  "example": "any"
                },
                "email": {
                  "example": "any"
                },
                "password": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Bad Request"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/login": {
      "post": {
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "schema": {
              "type": "object",
              "properties": {
                "credentials": {
                  "example": "any"
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/edituser": {
      "post": {
        "tags": [
          "Users"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/user/deleteuser/{id}": {
      "delete": {
        "tags": [
          "Users"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "description": "Bad Request"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/api/trivia": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "formData",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {}
      }
    },
    "/api/home": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "last_cat_id",
            "in": "formData",
            "type": "number",
            "required": true
          },
          {
            "name": "last_disease_id",
            "in": "formData",
            "type": "number",
            "required": true
          },
          {
            "name": "last_trivia_id",
            "in": "formData",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {}
      }
    },
    "/api/disease-details": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "formData",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {}
      }
    },
    "/api/category/videos": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "cat_id",
            "in": "formData",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {}
      }
    },
    "/api/disease/videos": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "disease_id",
            "in": "formData",
            "type": "number",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {}
      }
    },
    "/api/reels/search": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "search",
            "in": "formData",
            "type": "string",
            "required": true
          },
          {
            "name": "cat_ids",
            "in": "formData",
            "type": "array",
            "items": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "requestBody": {}
      }
    },
    "/api/report": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "parameters": [
          {
            "name": "type_id",
            "in": "formData",
            "required": true,
            "type": "number"
          },
          {
            "name": "content_id",
            "in": "formData",
            "required": true,
            "type": "number"
          },
          {
            "name": "reason_id",
            "in": "formData",
            "required": true,
            "type": "number"
          },
          {
            "name": "device_id",
            "in": "formData",
            "required": true,
            "type": "string"
          },
          {
            "name": "reason",
            "in": "formData",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/report-types": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/api/report-reasons": {
      "post": {
        "tags": [
          "API"
        ],
        "description": "",
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    }
  }
}